In [1]:
# Загрузка нужных библиотек
import numpy as np
import pandas as pd

In [2]:
# Загрузка данных
rate_2019 = pd.read_csv('data/rate_2019.csv')
rate_2020 = pd.read_csv('data/rate_2020.csv')
rate_2021 = pd.read_csv('data/rate_2021.csv')

In [4]:
agg_by_region_2019 = rate_2019.groupby('region')['points'] \
                              .agg(['count', 'mean', 'median']) \
                              .sort_values(by='count', ascending=False) \
                              .head(10) \
                              .reset_index()

agg_by_region_2019

              region  count        mean   median
0       Центральный      85   98.202235  100.800
1          Северный      62   99.172258  100.885
2    Новомосковский      51   98.883529   99.940
3         Восточный      49  101.121633  101.430
4  Северо-Восточный      47   98.925532  100.640
5          Западный      45   99.313111  100.410
6      Юго-Западный      39   98.721538  100.680
7     Юго-Восточный      38  100.021842  100.000
8             Южный      33   99.822727  100.980
9   Северо-Западный      25   98.324400   99.970

In [5]:
agg_by_region_2020 = rate_2020.groupby('region')['points'] \
                              .agg(['count', 'mean', 'median']) \
                              .sort_values(by='count', ascending=False) \
                              .head(10) \
                              .reset_index()
agg_by_region_2020

              region  count       mean  median
0       Центральный      86  79.259884  80.185
1          Троицкий      83  79.223735  79.930
2          Северный      61  76.446393  76.490
3         Восточный      52  77.414038  77.365
4          Западный      50  77.825000  79.870
5  Северо-Восточный      47  73.186809  74.590
6      Юго-Западный      40  78.690500  79.890
7     Юго-Восточный      39  74.112821  75.560
8             Южный      35  77.860571  78.340
9   Северо-Западный      29  77.715862  77.970

In [6]:
agg_by_region_2021 = rate_2021.groupby('region')['points'] \
                              .agg(['count', 'mean', 'median']) \
                              .sort_values(by='count', ascending=False) \
                              .head(10) \
                              .reset_index()
agg_by_region_2021

                         region  count       mean  median
0                  Центральный      86  81.058372  80.955
1  [Новомосковский , Троицкий ]     81  80.197160  79.970
2                     Северный      60  80.758500  80.725
3                     Западный      52  80.242500  80.195
4                    Восточный      52  79.585000  80.780
5             Северо-Восточный      47  80.262128  80.430
6                 Юго-Западный      41  80.731707  80.530
7                Юго-Восточный      39  80.171026  80.100
8                        Южный      38  80.347368  80.380
9              Северо-Западный      30  80.216667  80.380

## 1. В каких административных округах находится наибольшее количество компаний? Происходят ли изменения от года к году?

Соберем данные о количестве компаний в самых крупных административных округах.

In [7]:
top_regions = pd.DataFrame()

top_regions['region_2019'] = agg_by_region_2019['region']
top_regions['company_count_2019'] = agg_by_region_2019['count']

top_regions['region_2020'] = agg_by_region_2020['region']
top_regions['company_count_2020'] = agg_by_region_2020['count']

top_regions['region_2021'] = agg_by_region_2021['region']
top_regions['company_count_2021'] = agg_by_region_2021['count']

top_regions

,region_2019,company_count_2019,region_2020,company_count_2020,region_2021,company_count_2021
0,Центральный,85,Центральный,86,Центральный,86
1,Северный,62,Троицкий,83,"[Новомосковский , Троицкий ]",81
2,Новомосковский,51,Северный,61,Северный,60
3,Восточный,49,Восточный,52,Западный,52
4,Северо-Восточный,47,Западный,50,Восточный,52
5,Западный,45,Северо-Восточный,47,Северо-Восточный,47
6,Юго-Западный,39,Юго-Западный,40,Юго-Западный,41
7,Юго-Восточный,38,Юго-Восточный,39,Юго-Восточный,39
8,Южный,33,Южный,35,Южный,38
9,Северо-Западный,25,Северо-Западный,29,Северо-Западный,30

Новомосковский окргу входил в тройку самых крупных округов в 2019 и 2021 году, но в 2020 его нет даже в десятке. Почему?

Троицкий регион также был в лидерах в 2020 и 2021 годах, но в 2019 его нет в десятке самых крупных. Почему?

In [8]:
# Учитывался ли Новомосковский регион в статистике 2020 года?
print((rate_2020['region'].eq('Новомосковский')).any())

# Учитывался ли Троицкий регион в статистике 2019 года?
print((rate_2019['region'].eq('Троицкий')).any())

False
False

Новомосковский регион не был учтен в статистике 2020 года.

Троицкий регион не был учтен в статистике 2019 года.